* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 962px) {
  html {
      font-size: 72%;
  }
  .ant-carousel .slick-slide img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  html {
      font-size: 40%;
  }
  .ant-carousel .slick-slide img {
    width: 80px;
  }
}


@media screen and (max-width: 450px) {
  html {
      font-size: 33%;
  }
  .ant-carousel .slick-slide img {
    width: 65px;
  }
}