* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 90%;
}

 .anticon.anticon-arrow-right.slick-arrow.slick-next:focus,
 .anticon.anticon-arrow-left.slick-arrow.slick-prev:focus {
  color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 65%;
  }
  .ant-carousel .slick-slide img {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .ant-carousel .slick-slide img {
    width: 80px;
  }

  .anticon.anticon-arrow-right.slick-arrow.slick-next {
    display: none !important;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 48.5%;
  }
  .ant-carousel .slick-slide img {
    width: 65px;
  }

}

.pointer {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pointer:hover {
  color: #7a7a7a;
}


/* hide number input increment decrement arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 
* {
  border: 1px red solid;
} */

.ant-scrolling-effect {
  overflow: initial !important;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1 !important;

}

input[type=number], input[type=password], input[type=text], textarea {
  -webkit-appearance: button !important;
  -moz-appearance: button !important;
  appearance: button !important;
}